.video {
    display: flex;
    justify-content: center;
    margin-top: 30px;


}

.Global-Modal-Header24 {
    margin-top: 30px;
    display: flex;
    color: white;
    font-size: 60px;
    justify-content: center;
    animation: change-color 6s linear forwards;
  }

  @keyframes change-color {
    0% {
      color: white
    }
    50% {
      color: white
    }
    100% {
      color: black
    }
  }
