* {
  box-sizing: border-box;
}

/* .AllRecipes-Container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0;
  padding: 15px;
  top: 15px;
  grid-auto-flow: dense;
  justify-items: center;
} */

.AllRecipes-Container {
  box-sizing: border-box;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  position: relative;
  top: 40px;
  margin: 0 auto;
}

.recipe-card-nav-link {
  height: 100%;
  width: 100%;
}

.card-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  /* margin: 0 17px 17px 0; */
}

.recipe-images {
  display: flex;
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.content-holder {
  display: flex;
  flex-direction: column;
  color: black;
  font-family: "Venturis ADF No2", 'sans-serif';
  width: 100%;

}

.recipe-card-nav-link {
  text-decoration: none;
}
