.profile-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    background: white;
    width: 45px;
    height: 23px;
    border: 0.5px solid rgb(161, 161, 161);
    border-radius: 12px;
    margin-right: 25px;

}
.profile-button:hover {
    box-shadow: -0.2px 0.2px 1px  rgb(161, 161, 161);
}

.bar-icon {
    list-style: none;
    display: flex;
    position: relative;
    padding-left: 3px;

}

.profile-icon {
    display: flex;
    position: relative;
    padding-right: 3px;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background: rgb(255, 255, 255);
    width: 100px;
    height: 70px;
    border: 0.7px solid rgb(230, 230, 230);
    border-radius: 5px;
    position: absolute;
    top: 23px;
    right: 25px;
    z-index: 2;
}

.profile-dropdown li {
    display: flex;
    font-size: 8px;
    position: relative;
    top: 5px;
    right: 25px;

}

.dropdown-buttons {
    display:flex;
    flex-direction: column;
    padding-left: 10.2px;
}

.logged-in-dropdown-elements {
    font-family: 'Montserrat semibold', 'sans-serif';
}

.dropdown-logout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 8px;
    background: rgb(249, 56, 72);
    color: white;
    width: 60px;
    height: 20px;
    border: 0.5px solid rgb(161, 161, 161);
    border-radius: 12px;
    top: 7px;

}


.hidden {
    display: none;
}
