.profile-button {
    display: flex;
    width: 150px;
    height: 100%;
    float: right;
    margin-bottom: 5px;
    background-color: black;
    border: none;
    color: rgb(235, 195, 16);

}
.profile-button:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}


.profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background: white;
    color: black;
    border: 1px solid black;
    font-size: 20px;
    width: 200px;
    height: 80px;
    border-radius: 5px;
    position: absolute;
    top: 65.5px;
    right: 25px;
    z-index: 1;
}


.profile-dropdown li {
    display: flex;
    font-size: 17px;
    font-family: "Venturis ADF No2", 'sans-serif';
    position: relative;
    top: 5px;
    right: 25px;
}

.hidden {
    display: none;

}

.logout-button {
    background-color: rgb(250, 59, 59);
    padding: 4px 10px 4px 10px;
    color: white;
    cursor: pointer;
    margin-top: 6px;
}

.logout-button:hover {
    background-color: rgb(252, 88, 88);
}
