.errors-div {
    color: red;
    margin-bottom: 10px;

}

.errors-bottom {
    margin-top: 30px;
}

.signup-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    background-color: black;
    padding: 15px;
    color: white;
}

.signup-button:hover {
    cursor: pointer;
}

.first-name-label {
    width: 70%;
}

.last-name-label {
    width: 70%;
}

.email-label {
    width: 30%;
}

.username-label {
    width: 65%;
}

.password-label {
    width: 55%;
}

.confirm-password-label {
    width: 110%;
}


.first-name-field {
    display: flex;
    margin-top: 7px;
    margin-bottom: 25px;

}

.last-name-field {
    display: flex;
    margin-top: 7px;
    margin-bottom: 25px;

}
.email-signup-field {
    display: flex;
    margin-top: 7px;
    margin-bottom: 25px;

}
.username-signup-field {
    display: flex;
    margin-top: 7px;
    margin-bottom: 25px;

}
.password-signup-field {
    display: flex;
    margin-top: 7px;
    margin-bottom: 25px;

}

.confirm-password-field {
    display: flex;
    margin-top: 7px;
    margin-bottom: 25px;
}
