.splash-page {
    display: flex;
    flex-direction: column;
    height: auto;
}

.SplashPage-Body-Text{
    box-sizing: border-box;
    width: 50%;
    float: right;
}

.splash-page-header {
    font-family: Futura, sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.SplashPage-Image-Slides {
    position: absolute;
    display: flex;
    width: 50%;
    height: 80%;
    overflow: hidden;
}

.pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation: fade 81s infinite;
    animation: fade 81s infinite;
}

#pic1 {
    background-image: url("https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    animation-delay: 0s;
}

#pic2 {
    background-image: url("https://images.pexels.com/photos/323682/pexels-photo-323682.jpeg?auto=compress&cs=tinysrgb&w=800");
    animation-delay: 9s;
}

#pic3 {
    background-image: url("https://images.pexels.com/photos/2664216/pexels-photo-2664216.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    animation-delay: 18s;
}

#pic4 {
    background-image: url("https://images.pexels.com/photos/1143754/pexels-photo-1143754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    animation-delay: 27s;
}

#pic5 {
    background-image: url("https://images.pexels.com/photos/2067396/pexels-photo-2067396.jpeg?auto=compress&cs=tinysrgb&w=800");
    animation-delay: 36s;
}

#pic6 {
    background-image: url("https://images.pexels.com/photos/2114062/pexels-photo-2114062.jpeg?auto=compress&cs=tinysrgb&w=800");
    animation-delay: 45s;
}

#pic7 {
    background-image: url("https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=800");
    animation-delay: 54s;
}

#pic8 {
    background-image: url("https://images.pexels.com/photos/718742/pexels-photo-718742.jpeg?auto=compress&cs=tinysrgb&w=800");
    animation-delay: 63s;
}

#pic9 {
    background-image: url("https://images.pexels.com/photos/434258/pexels-photo-434258.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    animation-delay: 72s;
}

#pic10 {
    background-image: url("https://images.pexels.com/photos/2122294/pexels-photo-2122294.jpeg?auto=compress&cs=tinysrgb&w=800");
    animation-delay: 81s;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    15% {
        opacity:  1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    15% {
        opacity:  1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.splashpage-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.sign-up-button-splashpage {
    margin-bottom: 25px;
}

.open-modal-button-splashpage{
    display: flex;
    border: none;
    align-items: center;
    background-color: white;
    color: black;
    border: 2.5px solid black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    width: 70%;
    height: 55px;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
    /* transition-delay: 2s; */

}

.open-modal-button-splashpage:hover{
   background-color: black;
   color: white;
   font-size: 17px;
}

button {
    display: flex;
    border: none;
    justify-content: center;
    background-color: white;
}

.or-divider {
    display: flex;
    align-self: center;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 35px;
}

.footer {
    display: flex;
    position: fixed;
    align-items: center;
    bottom: 0;
    justify-content: center;
    background-color: rgb(235, 195, 16);
    font-family: "Venturis ADF No2", 'sans-serif';
    font-size: 18px;
    color:black;
    border: 0.25px solid black;
    width: 100%;
    z-index: 1;
}

.footer-name {
    margin-right: 15px;
    font-size: 13px;
}

.fa-square-github {
    margin-right: 5px;
    color: black;
    font-size: 18px;
}

.fa-square-github:hover {
    color: rgb(89, 89, 89);
}

.fa-linkedin {
    color: black;
    font-size: 18px;
}

.fa-linkedin:hover {
    color:rgb(89, 89, 89);
}

.dashes {
    letter-spacing: -3px;
}

.or {
    margin-right: 13px;
    margin-left: 15px;
}
