.add-button {
    display: flex;
    color:rgb(37, 37, 37);
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: none;
}

.fa-circle-plus:hover {
    color: rgb(67, 67, 67);
}


.Global-Modal-Header {
    display: flex;
    justify-content: center;
    font-family: "Venturis ADF No2", 'sans-serif';
    font-size: 40px;
}

.Global-ModalForm-Container {
    display: flex;
    align-items: center;
}

.recipe-text-fields {
    font-family: "Venturis ADF No2", 'sans-serif';
}

.Global-SubmitButton{
    background-color: rgb(235, 195, 16);
    font-size: 13px;
    color: black;
    padding: 6px;
    border-radius: 5px;;
    cursor: pointer;
}

.Global-SubmitButton:hover {
    font-size: 15px;
    padding: 8px;
}
