* {
    font-family: Futura, sans-serif;
}
.edit-recipe-button {
    display: flex;
    position: absolute;
    top: 200px;
    left: 50px;
}

.details-header {
    display: flex;
    flex-direction: row;
}

.photo-container {
    display: flex;
    justify-content: flex-end;
}

.recipe-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 150px 0px 150px;
    width: 50vw;
    font-size: 30px;
    text-align: center;
    background-color: rgb(242, 242, 242);
}

.recipe-info-container-name {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.recipe-info-container-author {
    font-size: 16px;
    margin-bottom: 15px;
}

.recipe-info-container-date {
    font-size: 12px;
}

#recipeImg {
    height: 700px;
    width: 50vw;
    object-fit: cover;
}

.recipe-description {
    font-size: 18px;
}

.single-page-main {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;

}

.kitchenware {
    margin-top: 30px;
    font-size: 30px;
}

.kitchen-ele {
    font-size: 18px;

}

.ingredients {
    margin-top: 30px;
    font-size: 30px;
}

.ingredients-ele {
    font-size: 18px;
}

.servings {
    display: inline-block;
    background-color: rgb(235, 195, 16);
    padding: 8px;
    margin-bottom: 10px;
}

.ingredient-field {
    display: flex;
    flex-direction: column;
}

.preparations{
    margin-top: 30px;
    font-size: 30px;
}

.preparations-ele {
    font-size: 18px;
}

.reviews-section{
    margin-top: 60px;
    font-size: 30px;
}

.review-body {
    display: flex;
}

.review-body-review {
    margin-bottom: 10px;
}

.review-sub-body-name {
    margin-top: 10px;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
}

.review-sub-body-first-name {
    margin-right: 4px;
}

.review-sub-body-location {
    margin-left: 5px;
}

.review-sub-body-date {
    margin-left: 20px;
    font-size: 15px;
    margin-bottom: 40px;
}

.reviews-ele{
    font-size: 18px;
}

.open-modal-button-edit {
    display: flex;
    font-size: 20px;
    font-family: "Venturis ADF No2", 'sans-serif';
    color:white;
    padding: 10px 17px 10px 20px;
    background-color:black;
    border-radius: 4px;
}

.open-modal-button-edit:hover {
    background-color:rgb(73, 73, 73);
    cursor: pointer;
}

.step-label {
    margin-bottom: 5px;
    font-weight: 500;
}

.steps {
    margin-bottom: 20px;
}

.fa-circle-xmark{
    cursor: pointer;
}

.edit-review-button {
    margin-bottom: 7px;
}
